<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>

    <!-- Required meta tags -->

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/style.css" />

    <title>Bibliothèques d'Angers</title>

</head>

<body>

<!-- Reste de la page -->

<div class="container">

    <div class="row">
        <div class="col">
            <div class="border-secondary shadow jumbotron">
                <h1>Bienvenue sur le site des bibliothèques d'Angers !</h1>
                <p th:text="${body}"></p>
            </div>
        </div>
    </div>
</div>

</body>

</html>

