<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Bibliothèques d'Angers</title>

    <link rel="stylesheet" href="/css/style.css"/>

</head>
<h2>
    <div th:if="${role == 'ADMIN'}">
        <p>ça marche !</p>
    </div>
    <span th:text="'Hello, ' + ${role}"></span>

</h2>
<body>
<!-- header -->
<header th:replace="fragments/header::header"></header>
<!-- end header -->

<div class="container">
    <div class="row">
        <div class="col">
            <div class="border-secondary shadow card h-100 mt-3">
                    <div class="col-12 my-4 col-lg-6">
                        <div class="border-0 card h-100">
                            <div class="card-body">
                                <h4 class="card-title text-center"
                                    ></h4>
                                <hr>
                                <table class="table table-border">
                                    <div th:objet="${usagerPage}">
                                        <tr>
                                            <td class="text-left" >Prénom</td>
                                            <td th:text="${usagerPage.name}"></td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">Nom</td>
                                            <td th:text="${usagerPage.lastName}"></td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">Email</td>
                                            <td th:text="${usagerPage.email}"></td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">Password</td>
                                            <td th:text="${usagerPage.password}"></td>
                                        </tr>
                                    </div>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">&middot;</li>
                    <li class="list-inline-item">Par Fabien Chapeau de chez OC
                    </li>
                    <li class="list-inline-item">&middot;</li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- Optional JavaScript -->

<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

</body>
</html>